*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
  color: white;
}

:root {
  --icon-size: 2rem;
  --indicator-spacing: calc(var(--icon-size) / 8);
  --border-radius: calc(var(--icon-size) / 4);
  --nav-item-padding: calc(var(--icon-size) / 2);
  --background-color: #16171d;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 24px;
}

.top-bar h1 {
  font-size: 18px;
  font-weight: 600;
}

.center-content-container-nft {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

/* .center-content-container-nft div {
  width: 370px;
  height: 360px;
  padding-right: 20px;
} */

.center-content-container-nft div img {
  width: 100%;
  height: 100%;
}

.center-content-container-nft div h2 {
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  margin: 10px 0;
}

.center-content-container-nft div h3 {
  font-size: 35px;
  font-weight: 600;
  color: #f5c249;
  text-transform: capitalize;
  margin: 0;
}

.navbar-container {
  background-color: rgba(38, 41, 50, 0.8);
  /* border-radius: var(--border-radius); */
  width: 100%;
  margin: 0 auto;
  /* margin-top: 10rem; */
  /* padding: 0 calc(var(--nav-item-padding) * 1.5); */
  padding: 0 20px;
  position: fixed;
  bottom: 0;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list a {
  color: #787a8d;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--nav-item-padding);
}

.list .text {
  font-size: 0.8em;
  /* opacity: 0; */
  pointer-events: none;
  transition: 250ms ease-in-out;
  position: absolute;
  bottom: calc(0.5 * var(--nav-item-padding));
  /* padding-top: 10px; */
  /* transform: translateY(50%); */
}

.list .icon {
  margin-bottom: 10px;
}

/* .list .icon {
  position: relative;
  transition: 250ms ease-in-out;
}

.list .icon svg {
  fill: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
} */

/* .list .active .text {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.list .active .icon {
  transform: translateY(calc(-50% - var(--nav-item-padding)));
} */

/* .list .active::before {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  background-color: white;
  z-index: 1;
  top: calc(-1 * var(--indicator-spacing));
  left: calc(.2 * var(--indicator-spacing));
  transform: translateX(-100%);
  border-top-right-radius: 100%;
  border-width: calc(var(--indicator-spacing));
  border-color: var(--background-color);
  border-style: solid;
  border-bottom: none;
  border-left: none;
}

.list .active::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  background-color: white;
  z-index: 1;
  top: calc(-1 * var(--indicator-spacing));
  right: calc(.2 * var(--indicator-spacing));
  transform: translateX(100%);
  border-top-left-radius: 100%;
  border-width: calc(var(--indicator-spacing));
  border-color: var(--background-color);
  border-style: solid;
  border-bottom: none;
  border-right: none;
} */

.list {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indicator {
  position: absolute;
  /* left: calc(
    var(--position) * (var(--icon-size) + var(--nav-item-padding) * 2)
  ); */
  left: 43%;
  transition: 250ms ease-in-out;
  z-index: -20;
  margin-top: -80px;
}

.active .icon svg {
  stroke: #f5c249;
}
.active .text {
  color: #f5c249;
}

.indicator::after,
.indicator::before {
  content: "";
  position: absolute;
  border-radius: 100%;
}

.indicator::after {
  /* background-color: hsl(100, 100%, 50%); */
  width: calc(var(--icon-size) * 2);
  height: calc(var(--icon-size) * 2);
  top: calc(-1 * var(--icon-size));
}

.indicator::before {
  background-color: var(--background-color);
  width: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
  height: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
  top: calc(-1 * var(--icon-size) - var(--indicator-spacing));
  left: calc(-1 * var(--indicator-spacing));
}

.corners::before {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  background-color: rgba(38, 41, 50, 0.8);
  /* z-index: 1; */
  /* top: calc(-1 * var(--indicator-spacing)); */
  left: calc(0.2 * var(--indicator-spacing));
  transform: translateX(-100%);
  border-top-right-radius: 100%;
  border-width: calc(var(--indicator-spacing));
  border-color: var(--background-color);
  border-style: solid;
  border-bottom: none;
  border-left: none;
}

.corners::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  background-color: rgba(38, 41, 50, 0.8);
  /* z-index: 1; */
  /* top: calc(-1 * var(--indicator-spacing)); */
  left: calc(var(--icon-size) * 2 + -0.2 * var(--indicator-spacing));
  border-top-left-radius: 100%;
  border-width: calc(var(--indicator-spacing));
  border-color: var(--background-color);
  border-style: solid;
  border-bottom: none;
  border-right: none;
}

@media screen and (min-width: 500px) {
  .indicator {
    left: 45%;
  }
}

@media screen and (min-width: 600px) {
  .indicator {
    left: 46%;
  }
}

@media screen and (min-width: 800px) {
  .indicator {
    left: 47%;
  }
}

@media screen and (min-width: 1060px) {
  .indicator {
    left: 47.6%;
  }
  .center-content-container-nft div {
    width: 370px;
    height: 360px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .center-content-container-nft div h2 {
    text-align: center;
  }
  .center-content-container-nft div h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1360px) {
  .indicator {
    left: 48%;
  }
}

@media screen and (min-width: 1500px) {
  .indicator {
    left: 48.2%;
  }
}

@media screen and (min-width: 1660px) {
  .indicator {
    left: 48.4%;
  }
}

@media screen and (min-width: 1800px) {
  .indicator {
    left: 48.5%;
  }
}
@media screen and (min-width: 2000px) {
  .indicator {
    left: 48.7%;
  }
}
